@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Color Variables */
:root {
	--white: #fff;
	--black: #222;
	--blue: #C59536;
  }
body{
	font-family: 'Roboto', sans-serif;
	background-color: #e3e0dea6;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}
/* 
=================
Navigation
=================
*/
.navigation {
	position: relative;
	z-index: 2;
	height: 6rem;
	line-height: 6rem;
  }
  
  .nav-center {
	justify-content: space-between;
  }
  
  .logo {
	color: #C59536;
	font-family: Tienne;
	font-size: 30px;
	padding-top: 30px;
  }
  .logo:hover { 
	color: #634B1B;
	}
  
  .nav-center .nav-item:not(:last-child) {
	margin-right: 0.5rem;
  }
  
  .nav-center .nav-link {
	font-size: 1.8rem;
	padding: 1rem;
	color:rgb(0, 0, 0);
	border-radius: 3px;
	font-style: belleza;
  }
  
  .nav-center .nav-link:hover {
	color: #C59536;
  }
  
  .nav-center .hamburger {
	display: none;
	font-size: 2.3rem;
	color: var(--black);
	cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
	.nav-list {
	  position: fixed;
	  top: 12%;
	  left: -35rem;
	  flex-direction: column;
	  align-items: flex-start;
	  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	  background-color: #E3E0DE;
	  height: 100%;
	  width: 0%;
	  max-width: 35rem;
	  z-index: 100;
	  transition: all 300ms ease-in-out;
	}
  
	.nav-list.open {
	  left: 0;
	  width: 100%;
	}
  
	.nav-list .nav-item {
	  margin: 0 0 1rem 0;
	  width: 100%;
	}
  
	.nav-list .nav-link {
	  font-size: 2rem;
	  color: var(--black);
	}
  
	.nav-center .hamburger {
	  display: block;
	  color: rgb(226, 37, 37);
	  font-size: 3rem;
	}
  }
h2{
	font-weight: 700 !important;
	font-size: 30px !important;
	margin:0 0 20px;
	text-transform: uppercase;
}
.text-center{
	padding: 40px 0px 0px 0px;
}

ul{
	margin:0;
	list-style-type: none;
}


#filter-list{
	display: inline-block;
	border:1px solid #271E0B
	;
	border-radius: 30px;
	padding: 4px;
	margin:0 0 60px;
}
#filter-list li{
	display: inline-block;
	font-size: 16px;
	color: #888888;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-weight: 500;
	padding: 0 20px;
	min-width: 130px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	font-family: Inter;

}
#filter-list li.active,
#filter-list li:hover{
	background-color: #C59536;
	color: #271E0B
	;
}
.gallery-outer{
	width: 100%;
	float: left;
	height: auto;
	padding: 0 1px;
}
.gallery-items li{
	width: 25%;
	float: left;
	padding: 0 1px 2px;
}
.gallery-items li img{
	width: 100%;
	height: auto;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.gallery-inner{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.gallery-overlay{
	width: 100%;
	position: absolute;
	left:0;
	top: 50%;
	text-align: center;
	-webkit-transform:translateY(-50%) scale(0);
	-ms-transform:translateY(-50%) scale(0);
	-moz-transform:translateY(-50%) scale(0);
     transform:translateY(-50%) scale(0);
     -webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.gallery-overlay a{
	width: 60px;
	line-height: 60px;
	background:#fff;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	color: #CCA354;
	font-size: 20px;
}
.gallery-overlay a:hover{
	background:#000000;
	color: #fff;
}
.gallery-items li:hover .gallery-overlay{
	-webkit-transform:translateY(-50%) scale(1);
	-ms-transform:translateY(-50%) scale(1);
	-moz-transform:translateY(-50%) scale(1);
     transform:translateY(-50%) scale(1);
}
.gallery-items li:hover img{
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}
.section-title {
font-family: Tienne;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.006em;
text-align: left;
}